@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');

body {
  margin: 60px 0 50px 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 2em;
}
h2 {
  margin: 10px 0;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  color: rgba(0,0,0,0.5);
}

image {
  margin: 0 auto;
}

p {
  font-size: 1.4em;
  color: rgba(0,0,0,0.5);
  font-weight: 200;
  line-height: 1.8em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 35px lightgray;
  border-radius: 10px;
  position: relative;
}

/* BANNER */
.banner {
  max-width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/317377/pexels-photo-317377.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 10px solid rgb(103, 211, 193);
  height: 50vh;
  color: white;
  border-radius: 10px 10px 0px 0px;
}
.banner h2 {
  margin: 10px 0;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  color: white;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexitem {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.div-padding {
  padding: 30px 70px;
}

.avatar {
  width: 170px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
}

/* Contact Links */
.contact {
  text-align: center;
}
.contact-links {
  font-size: 2.5em;
  padding: 15px 20px;
  margin: 20px 0;
  transition: all 0.6s ease;
  border-bottom: 1px solid white;
}
.contact-links:hover {
  opacity: 1.0;
  border-bottom: 1px solid;
}

.contact-links {
  color: rgb(0, 183, 183);
  opacity: 0.6;
}

/* TOOLS */
.tools-container {
  margin-top: 40px
}
.tools {
  background-color: rgba(0,0,0,0.02);
  color: rgba(0,0,0,0.5);
}

.tools-flex {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.tools-flex-item {
  background-color: lightgray;
}

.tools-flex-item p:second-of-type {
  color: red;
}

.tool-description {
  font-size: 1em;
}

.skills-icon {
  font-size: 4em;
  color: rgb(103, 211, 193);
}

/* CARD */
.card {
  width: 170px;
  height: 180px;
  padding: 30px 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.07);
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

.card h3 {
  font-weight: normal;
}

.card h3, .card p {
  color: rgba(0,0,0,0.5);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0,0,0,0.07);
}

/* FOOTER */
.footer {
  margin: 40px 0;
}

.footer p {
  font-size: 1em;
  line-height: 0.3em;
  color: rgba(0,0,0,0.3);
}

.footer a:link, .footer a:visited {
  text-decoration: none;
  color: rgba(0,0,0,0.3);
}

/* Media Queries */
@media screen and (max-width: 910px) {
  .container { max-width: 500px }
  .avatar { max-width: 120px }
  h1 { font-size: 1.6em; }
  h2, .banner h2 { font-size: 1.2em; }
  p { font-size: 1.1em; }
  .tools-flex { display: block;}
  .tools-flex-item { width: 60%; margin-left: auto; margin-right: auto; }
}

@media screen and (max-width: 600px) {
  .tools-flex-item { width: 80%; margin-left: auto; margin-right: auto; }
}















